{% raw %}
  <h2>The bounded peeking envelope game</h2>

  <p>There are two envelopes. One contains twice as much money as the other.  One of the two is randomly assigned to you.  You peek in your envelope to discover a cheque made out for {{game.envelope1 | currency}}.</p>
  <p>The value distribution is as follows. {{1 | currency}} is the lower bound, the smallest unit of currency in the game; {{max | currency}} is the upper bound.</p>
  <p>Do you KEEP or SWAP?</p>

{% endraw %}
{% include buttons.html %}
{% raw %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Payout</th>
        <th>Total</th>
        <th>Average</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{game.count | number}}</td>
        <td>{{game.payout | currency}}</td>
        <td>{{game.total | currency}}</td>
        <td>{{game.total / game.count | currency}}</td>
      </tr>
    </tbody>
  </table>
{% endraw %}
