{% raw %}
  <h2>The bounded peeking envelope game</h2>

  <p>There are two envelopes. Your envelope has {{game.envelope1 | currency}}</p>
{% endraw %}
{% include buttons.html %}
{% raw %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Payout</th>
        <th>Total</th>
        <th>Average</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{game.count | number}}</td>
        <td>{{game.payout | currency}}</td>
        <td>{{game.total | currency}}</td>
        <td>{{game.total / game.count | currency}}</td>
      </tr>
    </tbody>
  </table>
{% endraw %}
