{% raw %}
  <h2>The classic envelope game</h2>

  <p>There are two envelopes.  One contains {{amount | currency}} and the other contains {{amount * 2 | currency}}.  One of the two is randomly assigned to you.</p>
  <p>As the story goes, you can either KEEP the amount of money that's in your envelope, whichever amount it is &mdash; call it X &mdash; or you can SWAP your envelope for the other envelope, switching X for either 2X or X/2.</p>
  <p>Do you KEEP or SWAP?</p>
{% endraw %}
{% include buttons.html %}
{% raw %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Payout</th>
        <th>Total</th>
        <th>Average</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{game.count | number}}</td>
        <td>{{game.payout | currency}}</td>
        <td>{{game.total | currency}}</td>
        <td>{{game.total / game.count | currency}}</td>
      </tr>
    </tbody>
  </table>
{% endraw %}
