{% raw %}
  <h2>The boring envelope game</h2>

  <p>There are two envelopes. In the envelope handed to you there is definitely {{amount | currency}}.  In the other envelope, there is either {{amount * 2 | currency}} or {{0 | currency}}. Whether the other envelope contains {{amount * 2 | currency}} or {{0 | currency}} on any particular occasion is decided in advance by flipping a fair coin, and so the other envelope already contains either {{amount * 2 | currency}} or {{0 | currency}}, each outcome being 50% likely.</p>
  <p>Do you KEEP or SWAP?</p>
{% endraw %}
{% include buttons.html %}
{% raw %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Payout</th>
        <th>Total</th>
        <th>Average</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{game.count | number}}</td>
        <td>{{game.payout | currency}}</td>
        <td>{{game.total | currency}}</td>
        <td>{{game.total / game.count | currency}}</td>
      </tr>
    </tbody>
  </table>
{% endraw %}
