{% raw %}
  <h2>The "double-or-half" envelope game</h2>

  <p>There are two envelopes. In the envelope handed to you there is definitely {{amount | currency}}. In the other envelope, there is NOTHING YET.  Whether or not the other envelope contains $2X or $X/2 on this particular occasion will be decided, say by toss of fair coin (i.e. it's random, 50/50), after the player has made his decision.</p>
  <p>Do you KEEP or SWAP?</p>

{% endraw %}
{% include buttons.html %}
{% raw %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Payout</th>
        <th>Total</th>
        <th>Average</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{game.count | number}}</td>
        <td>{{game.payout | currency}}</td>
        <td>{{game.total | currency}}</td>
        <td>{{game.total / game.count | currency}}</td>
      </tr>
    </tbody>
  </table>
{% endraw %}
